
name: Make releases

on:
  push:
    tags:
      - 'v*'
  workflow_dispatch:

jobs:
  release:
    name: Publish to PyPi
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: actions/checkout@v5
        with:
          fetch-depth: 0

      - name: Generate Changelog
        # Ensure the script can be executed even if the executable bit is missing in the repo
        run: chmod +x .github/release_message.sh && .github/release_message.sh > release_message.md

      - name: Release
        uses: softprops/action-gh-release@v2
        with:
          body_path: release_message.md
      - name: Install test dependencies
        run: pip install -r requirements-test.txt
      - name: Publish to PyPI
        run: make publish
        env:
          PYPI_TOKEN: ${{ secrets.PYPI_TOKEN }}